<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="d-none" id="taskId"></span>

                <span id="taskName"></span>
                <span id="description"></span>
                <span id="state"></span>
                <span id="schedule"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $('#list').click(function () {
            var taskId = $('#list').attr('data-val');
            $('#taskId').html(taskId);
            var taskName = $('#list').attr('data-name');
            $('#taskName').html(taskName);
            var description = $('#list').attr('data-description');
            $('#description').html(description);
            var state = $('#list').attr('data-state');
            $('#state').html(state);
            var schedule = $('#list').attr('data-schedule');
            $('#schedule').html(schedule);

        });
    </script>
}